<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image_tag.image_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @image_tag.tag_id %>
</p>

<%= link_to 'Edit', edit_image_tag_path(@image_tag) %> |
<%= link_to 'Back', image_tags_path %>
