<h1>Images</h1>

<%= form_tag search_images_path do %>
  <%= text_field_tag :tags, params[:tags] %>
  <%= submit_tag "Search", :class => "btn-small, btn-primary" %>
<% end %>
<% if @images then %>
  <div class="container-fluid">
    <div class="row">
      <% @images.each do |image| %>
        <div class="col-lg-2 col-sm-3 col-xs-4">
          <%= link_to(image, {class: "thumbnail"}) do %>
            <%= image_tag image.picture.url(:small) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>No images!</h1> 
<% end %>

<br>

<%= link_to 'New Image', new_image_path %>